html{
  font-family: Oswald;
  background-color: lightblue;
}

header {  overflow: hidden;
  background-color: cornflowerblue;
  height: 200px;
}

header h1 {
  text-align: center;

}


body{
  background-color: whitesmoke;
  margin: 0;
}
.menu {
  position: relative;
  left: 0;
}

.menu-side,
.menu {
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.menu-open {
  left: 231px;
}

.menu-open .menu-side {
  left: 0;
}

.menu-side {
  background-color: #333;
  border-right: 1px solid #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: -231px;
  width: 210px;
  height: 100%;
  padding: 10px;
  font-size: 20px;
}

.menu-side ul li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 16px;
  color: #fff;

}

.menu_toggle {
  font-size: 72px;
  color: black;
  margin-left: 10px;
}

a{
  color: #fff;
  text-decoration: none;
}

a:default {
}

a:hover {
  color: lightgreen;

}

.middle {
  position: fixed;
  width: 50%;
  margin-left: 20%;
  margin-right: 25%;
  background-color: whitesmoke;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-top: solid navy 5px;
  overflow-y: scroll;
  height: 100%;
  padding: 50px;
  margin-top: -100px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37)
}

.article {
  font-family: Oswald;
}

.article h1{
  text-align: left;
  color: #333;
  margin-bottom: -25px;
}

.article p {
  text-align: left;
  font-family: "ubuntu", serif;
}

.article h5 {
  text-align: left;

}
#fvpp-blackout {
  display: none;
  z-index: 499;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
.popup {
  display: none;
  z-index: 500;
  position: fixed;
  width: 36%;
  left: 30%;
  top: 20%;
  padding: 20px 2%;
  font-family: Calibri, Arial, sans-serif;
  background: #FFF;
}
#fvpp-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
#fvpp-dialog h2 {
  font-size: 2em;
  margin: 0;

}
#fvpp-dialog p { margin: 0; }

.tab{
  background-color: lightblue;
  width: 100%;
  height: 40px;
}
