html{
  font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;
  width: 100%;
}

header{
  width: 75%;
  background-color: lightgreen;
  height: 25%;
  top: 0;
  left: 0;
}
header h1 {
  text-align: center;
}

body{
  background-color: whitesmoke;
}

.page_content{
  z-index: 0;
  position: relative;
}

#sidebar{
  text-decoration: none;
  z-index: 0;
  position: fixed;
  right: 0;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 15%;
  padding: 5px;
  background: #333;
  color: whitesmoke;
}

#no_scroll {
  overflow: hidden;
}
