html{
  font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;
}

header{
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  left: 0px;
  top: 0px;
  background-color: lightgreen;
  height: 25%;
  top: 0;
  left: 0;
}
header h1 {
  text-align: center;
}

body{
  background-color: whitesmoke;
}

.page_content{
  z-index: 0;
  position: relative;
}

#sidebar{
  z-index: 0;
  position: fixed;
  right: 0;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 160px;
  padding: 5px;
  background: #333;
  color: rgba(245, 245, 245, 0.8)
}

#sidebar ul li:hover{
  color: rgba(245, 245, 245, 1);
}

#sidebar li{
  list-style: none;
  margin-bottom: 16px;
  margin-top: 8px;
  cursor: pointer;

}

#no_scroll {
  overflow: hidden;
}

.toggle{
  text-decoration: none;
  position: fixed;
  top: 10px;
  left: 190px;
  z-index: 1;
  font-size: 30px;
  color: black;
}
a:hover{
  color: lightgreen;
}
